---
title: Blog
type: pages
description: Blog des articles
eleventyNavigation:
  key: Blog
  order: 2
---

<div class="container-xxl py-5">
  <h1>Mes Articles</h1>
</br>
<ul role="list" class="article__list">
  {% for post in collections.posts | reverse %}
    {% include 'partials/post-archive.njk' %}
  {%- endfor %}
</ul></div>