---
sitetitle: Mon site de base
title: Accueil
layout: base.njk
eleventyNavigation:
  key: Accueil
  order: 0
---

## Page d'acceuil uniquement

lorem ipsum c'est très bien

C'est la fin

Hello !Hihi c 'est bien