<header>
    <a href="{{ siteParams.siteBaseURL }}">
        <img src="/assets/images/uploads/favicon.png" width="75px" alt=""/>
        <h1>{{ siteTitle }}</h1>
    </a>
    {% include 'partials/navigation.njk' %}
</header>