{% set fallbackImg = "/img/typewriter.webp" %}
{% set eleventyVersion = pkg.Dependencies['@11ty/eleventy'] | replace("^", "") %}
{% set eleventyEnv = projEnv.environment %}
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="generator" content="Eleventy v{{ eleventyVersion }}"/>
    {% if page.url == "/" %}
        <title>{{ siteParams.siteTitle }}</title>
        <meta property="og:title" content="{{ siteParams.siteTitle }}"/>
    {% else %}
        <title>{{ title }} | {{ siteParams.siteTitle }}</title>
        <meta property="og:title" content="{{ title }} | {{ siteParams.siteTitle }}"/>
    {% endif %}
    <meta
        property="og:image"
        content="/images/{% if featured_image %}{{ featured_image }}{% else %}{{ fallbackImg }}{% endif %}"/>
    {% if page.url == "/" %}
        <meta name="description" content="{{ siteParams.siteDescription }}"/>
        <meta property="og:description" content="{{ siteParams.siteDescription }}"/>
        <meta property="og:url" content="{{ siteParams.siteURLforOG }}/"/>
    {% else %}
        <meta name="description" content="{{ description }}"/>
        <meta property="og:description" content="{{ description }}"/>
        <meta property="og:url" content="{{ siteParams.siteURLforOG }}{{ page.url }}"/>
    {% endif %}
    <!-- Twitter meta -->
    <meta name="twitter:site" content="{{ twitter }}"/>
    <meta name="twitter:creator" content="{{ twitter }}"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta
        name="twitter:image"
        content="img/{% if featured_image %}{{ featured_image }}{% else %}{{ fallbackImg }}{% endif %}"/>
    {% if page.url !== "/" %}
        <meta name="twitter:description" content="{{ description }}"/>
        <meta name="twitter:title" content="{{ title }}"/>
    {% else %}
        <meta name="twitter:description" content="{{ siteParams.siteDescription }}"/>
        <meta name="twitter:title" content="{{ siteParams.siteTitle }}"/>
    {% endif %}
    <link rel="icon" type="image/png" href="/img/icons/Eleventy-favicon-16x16.png" sizes="16x16"/>
    <link rel="icon" type="image/png" href="/img/icons/Eleventy-favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/img/icons/Eleventy-favicon-96x96.png" sizes="96x96"/>
    {% if eleventyEnv == "production" %}
        <link rel="preload" href="/css/{{ csshash.indexCSS }}" as="style"/>
        <link rel="stylesheet" href="/css/{{ csshash.indexCSS }}" type="text/css"/>
    {% else %}
        <link rel="stylesheet" href="{{ '/assets/final/style.css' | url }}" type="text/css"/>
        <link rel="stylesheet" href="{{ '/assets/final/bootstrap.min.css' | url }}" type="text/css"/>
    {% endif %}
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Rubik:wght@500;600;700&display=swap"
        rel="stylesheet"/> <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet"/>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet"/> <!-- Libraries Stylesheet -->
    <link href="/assets/lib/animate/animate.min.css" rel="stylesheet"/>
    <link href="/assets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet"/>
</head>