<li>
    <h2>{{ post.data.title }}</h2>
    <img src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}" width="500px">
    <p>{{ post.data.description }}</p>
    <a href="{{ post.url | url }}" class="btn btn-primary">Lire plus</a>
</li>